//colors

$white: #fff;
$background-color: #fff8e1;
$text-focus-font-color: rgb(111, 68, 54);
$sign-up: #523728;
$paragraph: rgba(25, 10, 10, 0.75);
$get-started: #6a4028;
$about-us-h1: #220404;
$about-us-p: #220404;
$our-menu-strong-tag: #1d2729;
$our-menu-span: #1d2729;
$price-color: #745545;
$dollar-sign-color: #745545;
$our-blog-time: #bb6939;
$contact-us-now-btn: #ffc468;
$contact-color: #000;
$place-holder-color: rgba(117, 117, 117, 0.87);
$icon-hover-bg-color: #ff9900;
$icon-bg-color: #edffef;
$icon-color: #484848;

$desktop-width: 676px;
