@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap");

$poppins-font-family: "Poppins", sans-serif;
$inter-font-family: "inter", sans-serif;
$inika-font-family: "Inika", sans-serif;
$Recursive: "Recursive", sans-serif;
$Roboto: "Roboto", sans-serif;
$Outfint: "Outfit", sans-serif;
