@use "typography" as *;
@forward "reset";
@use "color" as *;
@use "pexilConverter" as *;
@use "mixin" as *;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  gap: rem(199);
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
  width: min(100% - rem(10), em(1346));
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  z-index: 1;

  img {
    width: rem(120);
    height: auto;
  }

  nav {
    display: none;
    justify-content: space-between;
    align-items: center;

    width: min(100%, rem(316));
    height: rem(500);

    border-radius: rem(10);

    position: absolute;
    right: 0;
    top: 2px;
    z-index: 4;

    background-color: $text-focus-font-color;

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      flex-direction: column;

      font-weight: 700;
      font-family: "Inter", sans-serif;

      li {
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          color: $white;
          width: 100%;
          height: 100%;
          line-height: rem(115);
          text-align: center;
          border-radius: rem(10);
          transition: background-color 0.15s ease;
          user-select: none;

          &:is(:hover, :focus) {
            background-color: $white;
            color: $text-focus-font-color;
          }
        }
      }
    }

    &.showMenu {
      display: flex;
    }
  }

  .button_container {
    display: flex;
    align-items: center;
  }

  .sign-up {
    padding: rem(8) rem(10);
    width: min(100%, rem(104));

    height: 49px;

    background-color: transparent;

    border: rem(2) solid $sign-up;
    border-radius: rem(38);
    color: $sign-up;
    font-weight: 500;
    font-size: clamp(10px, 5vw, 16px);
    font-family: $poppins-font-family;

    transition: all 0.16s ease;

    &:is(:hover, :focus) {
      border: rem(2) solid #b34003;
      color: #b34003;
    }
  }

  .menue_btn {
    z-index: 2;
    border: none;
    outline: none;
    background-color: transparent;

    transition: all 0.15s ease;
    i {
      font-size: rem(50);
    }

    i:last-child {
      display: none;
    }

    &.toggleImage {
      i:last-child {
        display: initial;
      }

      i:first-child {
        display: none;
      }
    }
  }

  @include media($desktop-width) {
    img {
      width: rem(165);
    }
    .button_container {
      width: rem(130);
    }
    .sign-up {
      padding: rem(12) rem(19);
    }

    .menue_btn {
      display: none;
    }

    nav {
      display: flex;
      height: rem(43);
      width: min(100%, rem(446));
      position: relative;
      background-color: rgba(111, 68, 54, 0.8);

      ul {
        flex-direction: row;

        li {
          a {
            line-height: rem(43);
          }
        }
      }
    }
  }
}

.slide-in {
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-out {
  animation: slideOut 1s ease-in-out;
}

@keyframes slideOut {
  from {
    right: 0;
  }
  to {
    right: -20000px;
  }
}

main {
  display: flex;
  flex-direction: column;
  // gap: clamp(rem(50), 10vw, rem(150));
  margin-top: rem(90);

  @include media($desktop-width) {
    margin-top: rem(50);
  }
}

main .home-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  gap: rem(38);
  width: min(100% - rem(40), em(1346));
  margin: 0 auto;
  scroll-margin-top: rem(150);
  margin-top: rem(90);

  article {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(28);
    align-items: center;
    text-align: center;
    text-wrap: balance;

    @include media($desktop-width) {
      align-items: start;
      text-align: start;
    }

    h1 {
      color: $sign-up;
      font-family: $inika-font-family;
      font-size: clamp(rem(25), 5vw, rem(69));
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      text-wrap: balance;
    }

    p {
      font-family: $inter-font-family;
      font-size: clamp(rem(16), 5vw, rem(18));
      font-style: normal;
      font-weight: 400;
      line-height: 160%;

      width: min(100%, rem(427));
    }

    .con_btn {
      width: min(100%, rem(338));
      display: flex;
      gap: rem(12);
      margin-top: rem(10);
      justify-content: center;
      flex-direction: column;

      @include media($desktop-width) {
        flex-direction: row;
      }

      button {
        width: 100%;
        border-radius: rem(100);
        padding: rem(19) rem(30);

        &:first-child {
          background-color: $sign-up;
          color: $white;
          width: 100%;
          border: none;
          outline: none;

          font-family: $poppins-font-family;
          font-size: rem(15);
          font-style: normal;
          font-weight: 600;
          line-height: 120%;

          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
            0px 5px 11px 0px rgba(0, 0, 0, 0.1),
            0px 20px 20px 0px rgba(0, 0, 0, 0.09),
            0px 45px 27px 0px rgba(0, 0, 0, 0.05),
            0px 81px 32px 0px rgba(0, 0, 0, 0.01),
            0px 126px 35px 0px rgba(0, 0, 0, 0);

          transition: all 0.16s ease;

          &:is(:hover, :focus) {
            background-color: $white;
            color: $sign-up;
          }

          @include media($desktop-width) {
            width: 90%;
          }
        }

        &:last-child {
          display: flex;
          gap: rem(5);
          align-items: center;
          padding: rem(19) rem(18);

          p {
            color: $sign-up;
            font-family: $poppins-font-family;
            font-size: rem(15);
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
          }

          background-color: transparent;

          border: 1px solid #3d2619;

          transition: all 0.16s ease;

          &:is(:hover, :focus) {
            border: rem(1) solid #b34003;

            p {
              color: #b34003;
            }
          }
        }
      }
    }
  }

  .img_container {
    width: 90%;
    gap: 0;

    img {
      width: 100%;
    }
  }

  @include media($desktop-width) {
    flex-direction: row;
  }
}

main .about-us-section {
  scroll-margin-top: rem(80);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: rem(38);
  width: min(100% - rem(40), em(1346));
  margin: 0 auto;

  .img_cont {
    flex: 1;

    img {
      width: 100%;
      position: relative;
    }
  }

  article {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: rem(25);
    height: auto;

    @include media(em(1100)) {
      height: 38%;
    }

    h1 {
      color: $about-us-h1;
      font-family: $inika-font-family;
      font-size: clamp(rem(30), 5vw, rem(60));
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    div:first-child {
      display: flex;
      flex-direction: column;
      //gap: rem(1);

      p {
        color: $about-us-p;
        font-family: $poppins-font-family;
        font-size: clamp(rem(18), 5vw, rem(24));
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    div:not(:first-child) {
      display: flex;
      flex-direction: column;
      gap: rem(20);

      p {
        color: $about-us-p;
        font-family: $inter-font-family;
        font-size: clamp(rem(17), 5vw, rem(20));
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-wrap: balance;
        text-align: start;
      }
    }

    .readMore {
      width: min(100%, rem(150));

      background: $get-started;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
        0px 5px 11px 0px rgba(0, 0, 0, 0.1),
        0px 20px 20px 0px rgba(0, 0, 0, 0.09),
        0px 45px 27px 0px rgba(0, 0, 0, 0.05),
        0px 81px 32px 0px rgba(0, 0, 0, 0.01),
        0px 126px 35px 0px rgba(0, 0, 0, 0);

      display: inline-flex;
      height: rem(56);
      border-radius: rem(100);
      //padding: 19px 42px 18px 41px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      color: $white;
      font-family: $poppins-font-family;
      font-size: rem(16);
      font-style: normal;
      font-weight: 600;
      line-height: 120%;

      border: none;
      outline: none;

      transition: all 0.16s ease;

      &:is(:hover, :focus) {
        background: $white;
        color: $get-started;
      }
    }
  }

  @include media($desktop-width) {
    flex-direction: row;
  }
}

main .menu-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: rem(34);
  width: min(100% - rem(40), em(1346));
  margin: 0 auto;
  scroll-margin-top: rem(320);
  margin-top: clamp(rem(80), 10vw, rem(120));

  h1 {
    color: $price-color;
    font-family: $inika-font-family;
    font-size: clamp(rem(30), 5vw, rem(64));
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  article {
    display: flex;
    gap: rem(67);
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    @include media($desktop-width) {
      justify-content: center;
    }

    .menu_container {
      display: flex;
      gap: rem(20);
      flex-direction: column;
      align-items: center;
      width: min(100%, rem(355));
      padding: rem(21);

      border-radius: 41px;
      background: #fff8e1;
      box-shadow: 2px 9px 42px 0px rgba(77, 66, 44, 0.21),
        -2px -9px 42px 0px rgba(77, 66, 44, 0.21);

      .cheesecake_img {
        padding-top: rem(35);
        padding-bottom: rem(22);
      }

      .text {
        display: flex;
        gap: rem(2);
        flex-direction: column;
        text-align: start;
        width: 100%;

        strong {
          color: $our-menu-span;
          font-family: $inika-font-family;
          font-size: clamp(rem(18), 5vw, rem(25));
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        small {
          color: #555;
          font-family: $Recursive;
          font-size: rem(13);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .price_and_star {
        display: flex;
        gap: rem(2);
        //flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding-bottom: rem(20);
        flex-wrap: wrap;

        strong {
          color: $price-color;
          font-family: $inter-font-family;
          font-size: clamp(rem(19), 5vw, rem(21));
          font-style: normal;
          font-weight: 700;
          line-height: normal;

          span {
            color: #53a623;
            font-size: clamp(rem(16), 5vw, rem(18));
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }

        .star {
          display: flex;
          gap: rem(5);

          img {
            width: rem(16);
            height: rem(15);
            flex-shrink: 0;
          }
        }
      }
    }
  }
}

main .our-blog-section {
  display: flex;
  flex-direction: column;
  gap: rem(76);
  align-items: center;

  width: min(100% - rem(40), em(1346));
  margin: 0 auto;
  margin-top: clamp(rem(80), 10vw, rem(120));

  .header_text {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    text-align: center;
    color: #734b33;

    h1 {
      font-family: $inika-font-family;
      font-size: rem(64);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    p {
      font-family: $Roboto;
      font-size: rem(22);
      font-style: normal;
      font-weight: 400;
      line-height: rem(24);
    }
  }

  .ariticles_container {
    display: flex;
    gap: clamp(rem(40), 5vw, rem(107)); //rem(107)
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    align-items: center;

    @include media($desktop-width) {
      flex-direction: row;
      align-items: normal;
    }

    article {
      width: min(100%, rem(320));
      display: flex;
      flex-direction: column;
      gap: rem(14);
      padding: rem(34);
      justify-content: space-around;

      border-radius: rem(19);
      background: #fff8e1;
      box-shadow: -2px -9px 42px 0px rgba(77, 66, 44, 0.38);

      .date {
        color: $our-blog-time;
        font-family: $Outfint;
        font-size: clamp(rem(15), 5vw, rem(18));
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      strong {
        color: #734b33;
        font-family: $poppins-font-family;
        font-size: clamp(rem(18), 5vw, rem(22));
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: rem(20);
        color: #704b33;
        font-family: $poppins-font-family;
        font-size: clamp(rem(9), 5vw, rem(12.5));
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;

        a {
          color: #734b33;
          font-family: $poppins-font-family;
          font-size: clamp(rem(12), 5vw, rem(15.5));
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //flex-direction: row;
  gap: clamp(rem(100), 10vw, rem(233));
  width: min(100% - rem(40), em(1346));
  margin: 0 auto;
  flex-direction: column;
  scroll-margin-top: rem(200);
  margin-top: clamp(rem(80), 10vw, rem(120));

  @include media($desktop-width) {
    flex-direction: row;
  }

  article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: rem(34);
    width: 100%;
    text-align: center;
    text-wrap: balance;

    @include media($desktop-width) {
      text-align: start;
      align-items: start;
    }

    .heading_and_text {
      display: flex;
      flex-direction: column;
      gap: rem(12);

      h1 {
        color: #734b33;
        font-family: $inika-font-family;
        font-size: clamp(rem(30), 5vw, rem(64));
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      p {
        color: #734b33;
        font-family: $Roboto;
        font-size: clamp(rem(15), 5vw, rem(20));
        font-style: normal;
        font-weight: 400;
        line-height: rem(32);
      }
    }
    nav {
      width: 100%;

      ul {
        display: flex;
        // flex-wrap: wrap;
        gap: rem(10);
        width: 100%;
        list-style: none;
        // flex-direction: column;
        justify-content: center;

        @include media($desktop-width) {
          justify-content: start;
        }

        li {
          // width: 100%;
          display: flex;
          align-items: center;

          border-radius: 50%;

          width: 43px;
          height: 43px;
          flex-shrink: 0;

          a {
            background-color: #edffef;
            width: 43px;
            height: 43px;
            border-radius: 50%;
            line-height: 43px;
            text-align: center;

            color: #484848;

            transition: all 0.2s ease;

            &:is(:hover, :focus) {
              color: $white;
              background-color: $icon-hover-bg-color;
            }
          }
        }
      }
    }

    .Copyright {
      color: #734b33;
      font-family: $inter-font-family;
      font-size: clamp(rem(14), 5vw, rem(20));
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}

footer form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: rem(34);
  margin-bottom: rem(20);

  div {
    width: 100%;

    input {
      width: 100%;
      border-radius: 60px;
      background: #fff;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.26);
      padding: rem(26);
      outline: none;
      border: none;

      font-family: $inter-font-family;
      font-size: rem(20);
    }

    textarea {
      width: 100%;
      border-radius: rem(26);
      background: #fff;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.26);
      padding: rem(26);
      outline: none;
      border: none;

      font-family: $inter-font-family;
      font-size: rem(20);
    }

    input::placeholder,
    textarea::placeholder {
      color: $place-holder-color;
      text-align: start;
      font-family: $inter-font-family;
      font-size: rem(20);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  button {
    width: 100%;
    border-radius: 60px;
    background: #ffc468;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    color: #000;
    text-align: center;
    font-family: $inter-font-family;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: rem(26);
    outline: none;
    border: none;

    transition: all 0.16s ease;

    &:is(:hover, :focus) {
      background: #000;
      color: #ffc468;
    }
  }
}

.when {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.when.active {
  transform: translateY(0px);
  opacity: 1;
}
